<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="main" connectionString="Data Source=.\sqlexpress;Initial Catalog=ZipCodeData;Integrated Security=true;"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="WCF.Services.GeoManager">
        <endpoint address="net.tcp://localhost:8009/GeoService"
                  binding="netTcpBinding"
                  contract="WCF.Contracts.IGeoService" />
        <!-- For each Contract-->
        <endpoint address="http://localhost/GeoService"
                binding="basicHttpBinding"
                contract="WCF.Contracts.IGeoService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>