<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="WCF.WindowsHost.MessageManager">
        <!--<endpoint address="net.tcp://localhost/MessageService"
                  binding="netTcpBinding"
                  contract="WCF.WindowsHost.IMessageService" />-->
        <endpoint address="net.pipe://localhost/MessageService"
                 binding="netNamedPipeBinding"
                 contract="WCF.WindowsHost.IMessageService" />
      </service>
    </services>
    <client>
      <endpoint address="net.pipe://localhost/MessageService"
                binding="netNamedPipeBinding"
                contract="WCF.WindowsHost.IMessageService" />
    </client>
  </system.serviceModel>
</configuration>